@model EbayWatcher.Models.EbayCompletedItem[]

@{
    ViewBag.Title = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Auction Price</th>
            <th>Auction End Time</th>
            <th>Bids</th>
            <th>Buy it Now</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><a href="@item.Url" target="_blank"><img src="@item.ImageUrl" alt="@item.Name" /></a></td>
                <td>@item.Name</td>
                <td>@item.AuctionPrice</td>
                <td>@item.AuctionEndTime</td>
                <td>@item.BidCount</td>
                <td>@item.BuyItNowPrice</td>
            </tr>
        }
    </tbody>
</table>