@model EbayWatcher.Models.CategoryListItem[]

<form method="post" id="findCategoryForm">
    @*@Html.Label("SearchTerm", "Search for:")
    @Html.TextBox("SearchTerm", (string)ViewBag.SearchTerm)
    <button type="submit" class="btn btn-primary btn-xs">Search</button>*@

    <p>Searching for <strong>@ViewBag.SearchTerm</strong></p>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <div>
                @foreach (var parentItem in item.Parents)
                {
                    <a href="#" class="ebay-category" data-id="@parentItem.Id" data-fullname="@parentItem.FullName">@parentItem.Name</a>
                    <text> > </text>
                }
                <a href="#" class="ebay-category" data-id="@item.Item.Id" data-fullname="@item.Item.FullName">@item.Item.Name</a>
            </div>
        }
    }
</form>