@model EbayWatcher.Entities.Models.WishlistItem[]

@{
    ViewBag.Title = "Index";
}

<h2>Wishlist</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Status</th>
            <th>Notes</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.ActionLink(item.Name, "Edit", new { Id = item.Id })</td>
                <td>@item.Category</td>
                <td>@item.Status</td>
                <td>@item.Notes</td>
                <td>
                    @Html.ActionLink("View Ended", "ViewEnded", new { id = item.Id }, new { target = "_blank" })
                    @Html.ActionLink("View Current", "ViewCurrent", new { id = item.Id }, new { target = "_blank" })
                </td>
            </tr>
        }
    </tbody>
</table>